html {
  box-sizing: border-box;
  font-size: calc(100vw / 1920 * 10);

  @media (max-width: 1024px) {
    font-size: calc(100vw / 768 * 10);
  }
  @media (max-width: 767px) {
    font-size: calc(100vw / 500 * 10);
  }
  @media (max-width: 500px) {
    font-size: calc(100vw / 375 * 10);
  }
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body {
  padding: 0;
  margin: 0;
}

body {
  font: 400 24px/1 "Poppins", sans-serif;
  color: #000000;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

.d-flex {
  display: flex;
}

.align-items-center {
  align-items: center;
}
 
.justify-content-center {
  justify-content: center;
}

.justify-content-between {
  justify-content: space-between;
}

.flex-start {
  justify-content: flex-start;
}

.flex-end {
  justify-content: flex-end;
} 

.container {
  max-width: 192rem;
  padding: 0px;
  margin: 4.6rem auto;
  align-content: space-between;
}

/* header-block start */

.header-block {
  width: 172rem;
  margin: 4.6rem 10rem 6.3rem;
}

.logo {
  left: 0;
  display: inline-block;
}

.logo img {
  height: 2.9rem;
}

.logo span {
  font-style: normal;
  font-weight: 900;
  font-size: 4rem;
  line-height: 1.5;
  letter-spacing: 0.03em;
}

.top-menu {
  right: 0;
  margin-left: auto;
  justify-content: flex-end;
  font-style: normal;
  font-weight: 500;
  font-size: 2.2rem;
  line-height: 1.5;
  letter-spacing: 0.01em;
  color: #242323;
}

ul > li {
  display: inline-block;
}

ul > li + li {
  margin-left: 6.5rem;
}

.top-menu > li {
  justify-content: space-between;
}

.sign-up {
  font-style: normal;
  font-weight: 500;
  font-size: 2.4rem;
  line-height: 1.5;
  letter-spacing: -0.03em;
  color: #fefefe;
  background: #000000;
  border: 7px solid black;
  border-radius: 7px;
}

/* header-block end */

/* hero-banner start */

.hero-banner {
  justify-content: center;
}

.hero-banner img {
  width: 172rem;
  height: 85.2rem;
}

.shop-now {
  justify-content: space-between;
  align-items: center;
  position: absolute;
  width: 44.5rem;
  height: 8.2rem;
  left: 20rem;
  top: 84.4rem;
}

.shop-now img {
  width: 19rem;
  height: 3.2rem;
}

.shop-now-button {
  width: 22rem;
  height: 8.2rem;
  left: 26.5rem;
  top: 1.9rem;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 3rem;
  line-height: 1.5;
  letter-spacing: -0.05em;
  color: #ffffff;
  background: #000000;
  border: 1px solid black;
  border-radius: 10px;
}

/* brands-section start */

.brands-section {
  justify-content: space-between;
  align-items: center;
  position: absolute;
  width: 192rem;
  height: 18.6rem;
  top: 108rem;
  background: #ebd96b;
}

.brands {
  justify-content: space-around;
  align-items: center;
  position: absolute;
  width: 157rem;
  height: 7rem;
  left: 17rem;
}

.brands > img {
  width: 10%;
}
/* brands-section end */
